node_modules
.azure_keys
.env
.DS_Store
mongo/data

#################
### Terraform ###
#################

# Local Terraform Directories
infrastructure/.terraform

# State files
*.tfstate
*.tfstate.*

# Crash log files
*.log

# Sensitive data
*.tfvars
